html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow: hidden; /* 화면 스크롤 제거 */
}


#map-container {
width: 100vw;
height: 100vh;
background-color: #000;
position: relative;
touch-action: none; /* 브라우저 기본 제스처 차단 */
}


#map-image {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
transform-origin: center center;
user-select: none;
pointer-events: none; /* 지도 위 터치 이벤트는 컨테이너가 받음 */
}